body{
    background-color:black;
}
fieldset,div,#boton1,#boton2,#ball,#pausa,#Reinicio,table{
    position:absolute;
}
fieldset{
    background-color:#90ff00;
    display: block;
}
#gamer-red{
    background-color:red;
}
#gamer-blue{
    background-color:blue;
    color:lightcyan;
}
#div3{
    width:10px;
    height:10px;
    border-radius:5px;
    background-color:rgb(210,210,210);
    position:absolute;
    left:48.7%;
    top:50%;
}
#boton1,#boton2{
    top:410px;
    -webkit-border-radius:10px;
}
#boton1{
    background-color:red;
}
#boton2{
    left:200px;
    background-color:blue;
}
#medio{
    background-color:gray;
    width:2px;
    height:100%;
    top:0%;
    left:50%;
}
#ball{
    width:30px;
    height:30px;
    border-radius:50%;
    top:35.5%;
    left:35%;
    background-color:#afff00;
    border:2px solid gray;
    position: fixed;
    text-align:center;
}
#ball span{
    color:lightgreen;
    position:relative;
    top:26%;
    font-size:1em;
    display:block;
}
#pausa{
    left:132px;
  top:400px;
}
#Reinicio{
    width:50px;
    height:50px;
    border-radius:25px;
    left:250px;
    top:350px;
    background-color:yellow;
}
#b{
    font-size:10px;
}
table{
    top:340px;
    color:white;
    text-align:center;
    border:2px solid white;
}
td{
    border:2px solid white;
}
